.customer-heading-top {
    width: 100%;
}
.customer-button {
    height: 40px;
}
.top-button {
    flex-basis: 50%;
    text-align: right;
}
.search-bar {
    height: 40px;
}
.search-btn {
    height: 40px;
}